/* global */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7em;
    font-family: 'Inconsolata', monospace;
    /* font-family: 'Signika', sans-serif;  */
    color: #2c2c54;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

section {
    padding: 96px 0;
}
.page-title {
    font-size: 48px;
}
.btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px; 
    border-radius: 5px; 
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid;
    /* gradient */
    background-color: inherit;
    background-position: 100% 0;
    background-size: 300%;
    transition: all 1s;
}

.btn:hover {
    background-position: 0 100%;
    color: red;
}
.btn-one {
    background-image: linear-gradient(90deg, #ffffff 50%, transparent 50%);
}

.btn-two {
    color: green;
}
.btn-two:hover {
    color: #fff;
    background-image: linear-gradient(90deg, #ff9d00 50%, transparent 50%);
}
.btn-three {
    color: blue;
}

.btn-three:hover {
    color: #fff;
    background-image: linear-gradient(90deg, #184110 50%, transparent 50%);
}

.btn-four {
    color: violet;
}

.btn-four:hover {
    color: #fff;
    background-image: linear-gradient(90deg, #2a0131 50%, transparent 50%);
}
/* navigation */

.navigation {
    padding: 12px 0;
    background-color: #009688;
}

ul {
    padding: 0; 
    margin: 0; 
    list-style-type: none;
}

.navigation li {
    display: inline-block; 
    margin: 0 36px 0 0; 
    position: relative;
}

.navigation a {
    text-decoration: none; 
    color: #fff;
}

.navigation li:hover a {
    color: #F44336;
}

.navigation ul ul li {
    display: block; 
    margin: 0 0 12px 0;
    /* position: absolute; */
    
}

.navigation ul ul {
    display: none;
}

.navigation li:hover ul {
    display: block;
    text-align: center;
    background-color: #8BC34A;
    
}

.navigation li li:hover {
    background-color: #607D8B;
}

.navigation li ul {
    /* display: block; */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* splash */

.splash {
    display: flex;
    background-color: #8BC34A;
    min-width: 500px;
}

.splash-inner {
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px
}

.page-title {
    margin: 0;
    font-size: 72px;
    word-spacing: -24px;
    font-weight: 700;
    line-height: 1.2;
}

.page-subtitle {
    margin: 24px 0;
    font-weight: 400;
    font-size: 16px;
}

.page-title span {
    font-style: italic;
}

/* services */
.box-wrapper {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
}
.box {
    position: relative;
    flex: 0 0 33.33%;
}
p:first-of-type {
    font-weight: bold;
}
.subtitle-desing:before {
    content: '1';
    position: absolute;
    font-size: 144px;
    top: 35px;
    left: -5px;
    color: rgba(127, 255, 212, 0.4);
    z-index: -1;
    font-weight: bold;
}

.subtitle-code:before {
    content: '2';
    position: absolute;
    font-size: 144px;
    top: 35px;
    left: -5px;
    color: rgba(127, 255, 212, 0.4);
    z-index: -1;
    font-weight: bold;
}

.subtitle-marketing:before {
    content: '3';
    position: absolute;
    font-size: 144px;
    top: 35px;
    left: -5px;
    color: rgba(127, 255, 212, 0.4);
    z-index: -1;
    font-weight: bold;
}

/* Our work */
.box-work {
    flex: 0 0 50%;
    display: flex;
    max-height: 300px;
    margin-bottom: 96px;
}


.box-wrapper-work { 
    display: flex;
    flex-wrap: wrap;
}

.skill-image {
    position: relative;
    margin-right: 40px;
}

.skill-image::after {
    content: '';
    display: block; 
    width: 100%;
    height: 100%;
    background: rgba(127, 255, 212, 0.4);
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 20px;
    margin: 0;
    padding: 0;
    overflow: visible;
}

.skill-image img {
    max-width: 250px; 
    height: 100%;
    object-fit: cover;
}

.skill-description {
    padding: 20px;
    text-align: left;
    width: 50%;
}

.skill-content {
    font-weight: normal;
}

span {
    font-weight: 900;
}

a {
    text-decoration: none;
}

/* form */
.contact {
    display: flex; 
    flex-direction: column;
    background-color: #0198E7;
    color: #fff;

}

.wrapper {
    width: 1140px;
    margin: 0 auto;
}
.contact h1 {
    padding: 40px 40px 40px 0;
}
.contact-wrapper {
    display: flex;
}
form {
    display: flex;
    flex-direction: column;
    flex: 2 0 0;
    padding-right: 100px;
}

.contact-data {
    flex: 1 0 0;
}

input {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    background-color: #0198E7;
    border: none;
    outline: none;
    border-bottom: 3px solid #fff;
}

input::placeholder {
    color: #fff;
}

textarea {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    background-color: rgba(136,133,133,0.5);
    border: none;
    outline: none;
    border-bottom: 3px solid #fff;
}

textarea::placeholder {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

textarea {
    font-family: 'Open Sans', sans-serif;
    background-color: #0198E7;
}

button.submit {
    float: left;
    margin: 0;
    color: #fff;
    width: 100px;
    margin-top: 50px;
}

/* footer */
/* footer */ 

footer {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    align-items: center;
    height: 100%;
    background-color: #fff;
    color: #fff;
  }
  
  footer p {
    color: #000;
  }
  
  .circle-around-icon {
    border: 2px solid #000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 15px 15px;
    background-color: #000;
  }
  
  .fa-twitter-white {
    color: #fff;
  }
  
  .fa-facebook-white {
    color: #fff;
  }
  
  .fa-pinterest-white {
    color: #fff;
  }
  
  .fa-google-pluse-white {
    color: #fff;
  }
  
  /* media queries */

  @media (max-width: 768px) {
    .container {
        padding: 0;
    }
    .splash-inner {
        width: 80%;
    }
    .navigation li {
        display: block;
        margin: 0 auto;
        width: 80%;
        text-align: center;
    }
    .container-mobile {
        width: 80%;
    }
    .page-title {
        
        font-size: 24px;
    }

    .splash {
        min-width: 100%;
    }
    .box-wrapper {
        flex-direction: column;
    }
    .contact-wrapper {
        flex-direction: column;
        max-width: 100%;
        text-align: center;
        justify-content: center;
        /* margin: 0 auto; */
    }
    .contact {
        flex-direction: row;
    }
    .skill-description {
        width: 100%;
    }
    .box-work {
        display: inline;
        max-height: 100%;
        margin: 0 auto;
    }

    .wrapper {
        padding-left: 40px;
        padding-right: 40px;
        margin: 0 auto;
        
    }
    form {
        padding-right: 0;
    }

    footer {
        display: block;
    }
    
  }